:css
	body
	{
		background-color:transparent !important;
	}
	body > div > div:last-child
	{
		width:0px;
		height:0px;
		border:none;
		background-color:transparent;
	}
#primary-box
	%article
		!= message
#slider-container
	#slider
		%figure
			- first = true
			- slides.each do |slide|
				%div(class="#{slide.has_key?(:background) ? 'bg-' + slide[:background].gsub(' ', '-') : ''}#{ first ? ' first-panel' : ''} panel")
					- first = false
					- if slide.has_key?(:header) || slide.has_key?(:body)
						%article
							%h1
								= slide[:header]
							!= slide[:body]